body {
  font-family: "Helvetica Neue", "Helvetica", "Sans";
}
/* Add space between Vega-Embed links  */
.vega-actions a {
  margin-right: 5px;
}
.tabulator-row .tabulator-cell{
  padding: 8px 4px;
  min-height: 170px;
}
/*.tabulator-row.tabulator-selectable:hover {
background-color: #fff;
cursor: pointer;
}*/

/* @media only screen and (max-width: 1000px) { */
/* } */

  .tabulator {
    font-size: 1.15rem;
  }

/* Thanks to Luke Haas for the loader
 * https://github.com/lukehaas/css-loaders */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(85,85,85, 0.2);
  border-right: 1.1em solid rgba(85,85,85, 0.2);
  border-bottom: 1.1em solid rgba(85,85,85, 0.2);
  border-left: 1.1em solid #555555;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
